<ion-header-bar class="bar-positive">
<h1 class="title">Question</h1>
</ion-header-bar>


<ion-content class="has-header padding">


	<!-- Question 1 -->
	<div class="list card">
		<div class="item item-avatar">
			<img src="img/ebola.jpeg">
			<h2>Fråga 1</h2>
		</div>

		<div class="item item-body">
			<!--img class="full-image" src="delorean.jpg"-->
			<p>
				Hur sprids Ebola mellan människor?
			</p>

		</div>
		<div class="list">
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Beröring
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Blod och kroppsvätskor
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Sex
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Andning
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
	</div>
	<!-- End Question 1 -->

	<!-- Question 2 -->
	<div class="list card">
		<div class="item item-avatar">
			<img src="img/zlatan.jpeg">
			<h2>Fråga 2</h2>
			<p>November 05, 1955</p>
		</div>

		<div class="item item-body">
			<!--img class="full-image" src="delorean.jpg"-->
			<p>
				Hur många mål har Zlatan gjort totalt i det svenska landslaget?
			</p>

		</div>
		<div class="list">
			<label class="item item-radio">
				<input type="radio" name="group2">
				<div class="item-content">
					500
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group2">
				<div class="item-content">
					18
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group2">
				<div class="item-content">
					50
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

			<label class="item item-radio">
				<input type="radio" name="group2">
				<div class="item-content">
					100
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
	</div>
	<!-- End Question 2 -->

</ion-content>
<div class="bar bar-footer bar bar-light">
  <div class="title">Banner</div>
</div>